esercizio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rubrica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alunno" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="voto_pratico" type="xs:decimal"/>
                            <xs:element name="voto_teorico" type="xs:decimal"/>
                            <xs:element name="media" type="xs:decimal"/>
                            <xs:element name="insufficiente" type="xs:boolean"/>
                            <xs:element name="commento" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>