rubrica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rubrica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persona" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="cognome" type="xs:string"/>
                            <xs:element name="indirizzo" type="xs:string"/>
                            <xs:element name="telefono" type="xs:string" maxOccurs="1"/>
                            <xs:element name="email" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="sitoWeb" type="xs:anyURI" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>